html {
    height: 100%;
}

body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

div#chatroom {
    outline: 1px solid gray;
    height: 80%;
}

ul#chat {
    list-style-type: none;
    padding: 0;
}

li {
    margin-left: 5px;
    display: block;
}

.connected {
    font-size: 12px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.63);
    margin-top: 5px;
    margin-bottom: 5px;
}

.message {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.name {
    color: blue;
}

input {
    display: block;
    height: 30px;
}

input[type='text'], div#chatroom {
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
}

input[type='submit'] {
    background-color: cadetblue;
    border: none;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}